<div style="text-align:center">

  <!-- exemple du passage d'une variable d'un composant au template -->
  <h1>{{ title }}</h1>
  <span>Version: {{ version }}</span>

</div>

<item-form (onCreateItem)="onCreateItem($event)"></item-form>

<div>
  <!-- exemple d'utilisation du filtre json pour debuger une liste d'objets -->
  {{ newItem | json }}
</div>

<hr />

<!-- exemple de parcourt du liste d'objets avec *ngFor-->
<div *ngFor="let item of collection">
  <item [item]="item" (onGetDetails)="onGetDetails($event)"></item>
</div>

<div>
  <!-- exemple d'utilisation du filtre json pour debuger une liste d'objets -->
  {{ collection | json }}
</div>
