<div class="header text-center">
  <my-title></my-title>
</div>

<!-- lorsque l'événement onCreateItem est émit, la méthode onCreateItem est appelée -->
<item-form (onCreateItem)="onCreateItem($event)"></item-form>

<div class="debug">
  <!-- exemple d'utilisation du filtre json pour debuger une liste d'objets -->
  DEBUG : {{ newItem | json }}
</div>

<hr />

<div class="filter-box">
  Filtrer les commandes par le nom des clients: <input class="form-control" #listFilter (keyup)="0" />
</div>
<!-- exemple de parcourt du liste d'objets avec *ngFor-->
<div *ngFor="let item of collection | itemFilter:listFilter.value">

  <!-- item est passé du parent à l'enfant-->
  <!-- lorsque l'événement onGetDetails est émit, la méthode onCreateItem est appelée -->
  <item [item]="item" (onGetDetails)="onGetDetails($event)" (onDeleteItem)="onDeleteItem($event)"></item>
</div>

<div class="debug">
  <!-- exemple d'utilisation du filtre json pour debuger une liste d'objets -->
  DEBUG : {{ collection | json }}
</div>
