<div style="text-align:center">

  <!-- exemple du passage d'une variable d'un composant au template -->
  <h1>{{ title }}</h1>
  <span>Version: {{ version }}</span>

</div>

<form #itemForm="ngForm">

  Référence: <input [(ngModel)]="newItem.reference" name="reference" minlength="4" required #reference="ngModel" />
  <span [hidden]="reference.valid || reference.pristine">Champ non valide</span>

  Nom du client: <input [(ngModel)]="newItem.name" name="name" required #name="ngModel"/>
  <span [hidden]="name.valid || name.pristine">Champ non valide</span>

  État: <input [(ngModel)]="newItem.state" name="state" required #state />
  <span [hidden]="state.valid || state.pristine">Champ non valide</span>

  <!-- exemple d'événement -->
  <button [disabled]="!itemForm.form.valid" (click)="createCommand()">Ajouter une commande</button>

</form>


<div>
  <!-- exemple d'utilisation du filtre json pour debuger une liste d'objets -->
  {{ newItem | json }}
</div>

<hr />

<!-- exemple de parcourt du liste d'objets avec *ngFor-->
<div *ngFor="let item of collection">

  <p>Référence: {{ item.reference }}</p>
  <p>Nom du client: {{ item.name }}</p>

  <!-- exemple d'événement -->
  <a href (click)="getDetails($event, 'info_en_plus')" id="{{ item.reference }}">Détails</a>
  
  <!-- exemple d'utilisation de *ngIf -->
  <!-- exemple d'utilisation des styles css -->
  <p class="state-0" *ngIf="0 == item.state">Commande à livrer</p>
  <p class="state-1" *ngIf="1 == item.state">Commande en cours de livraison</p>
  <p class="state-2" *ngIf="2 == item.state">Commande livré</p>

  <hr />
</div>

<div>
  <!-- exemple d'utilisation du filtre json pour debuger une liste d'objets -->
  {{ collection | json }}
</div>
